<div class="container">
  <p id="city">City: <%= city %></p>
  <p></p>
  <p id="province">Province: <%= province %></p>
  <p></p>
  <p id="temperature">Temperature: <%= temperature %></p>
  <p id="currentConditions">Current Conditions: <%= currentConditions %></p>
  <img id="weatherIcon" src="<%= iconCondition %>">
</div>
